<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.2, minimum-scale=1, maximum-scale=1">
    <title>Vety</title>
    <link rel="stylesheet" type="text/css" href="./statics/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="./statics/iconfont.css">
    <link rel="stylesheet" type="text/css" href="./vety.css">
    <script src="./statics/jquery.min.js"></script>
    <script src="./statics/semantic.min.js"></script>
    <script src="./statics/vue.min.js"></script>
    <script src="./statics/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="./statics/sweetalert2.min.css">
</head>

<body>
    <div id="app">
        <div class="ui active inverted dimmer" v-show="isLoadingFile" style="backdrop-filter: blur(3px)">
            <div class="ui text elastic inline loader" :class="getTheme('primary')">{{ loadText }}</div>
        </div>
        <div class="ui active inverted dimmer vetyDraggerContent fadeInOut" v-if="isdragging" style="backdrop-filter: blur(3px)">
            <h2 class="vetyHeader">松开文件开始解析</h2>
        </div>
        <div class="vRightMenu" id="rightMenu">
            <ul>
                <li><a href="javascript:;" @click="playFrom(cutResult.materials[chooseEle][0] / 1000)">播放</a></li>
                <li><a href="javascript:;" @click="exportMp3(chooseEle)">导出为mp3</a></li>
            </ul>
        </div>
        <div class="ui left fixed vertical icon borderless menu vmenu" :class="getTheme('primary')">
            <div class="menuScroller"></div>
            <a class="item" v-for="(tabMenuItem,k) in menu.tabMenuItems" v-bind:key="k" @click="changeTab(k)" :class="{ active: menu.chosenTab == tabMenuItem.page}">
                <!--i :class="tabMenuItem.icon+' icon'"></i-->
                <i :class="'icon iconfont icon-'+tabMenuItem.icon"></i>
                <span class="text">{{ tabMenuItem.name }}</span>
            </a>
        </div>
        <div class="ui app" id="VetyContainer" style="height: calc(100% - 142px);">
            <div class="topButtons">
                <a class="topButton red" id="closebtn"><i class="icon iconfont icon-24gl-cross"></i></a>
                <a class="topButton" id="maxbtn">
                    <i class="icon iconfont icon-24gl-square" v-if="!isMax"></i>
                    <i class="icon iconfont icon-24gl-minimize" v-else></i>
                </a>
                <a class="topButton" id="minbtn"><i class="icon iconfont icon-24gl-minimization"></i></a>
            </div>
            <div class="topBar">
                <span>
                    <img src="./imgs/logo.ico" class="icon">{{ app.name }}
                </span>
            </div>
            <div class='ui tab' ref="MainContent">
                <h1 class="page-title">Vety!</h1>
                <div class="vetyCard">
                    <h3 class="ui header vetyHeader">文件操作</h3>
                    <div class="ui grid">
                        <div class="column">
                            <div class="ui homebtn white button" @click="askFile()">
                                音频解析
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vetyCard">
                    <h3 class="ui header vetyHeader">最近文件</h3>
                    <table class="ui fluid very basic unstackable table">
                        <tbody>
                            <tr v-for="(rcf,rcid) in reverseRecentFiles">
                                <td class="selectable listItem">
                                    <a class="listCloseBtn" @click="ipc.send('clearRecent', rcid)"><i class="icon iconfont icon-24gl-cross"></i></a>
                                    <a class="item" @click="ipc.send('parseFile', rcf)">
                                    {{ rcf }}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div v-if="reverseRecentFiles.length == 0" class="vetyNoInfo">
                        <div class="ui icon header vetyHeader">
                            <i class="inbox icon"></i> 还没有解析的文件
                        </div>
                    </div>
                </div>
            </div>
            <div class='ui tab' ref='ResContent'>
                <h1 class="page-title">解析结果</h1>
                <template v-if="filename.length > 0">
                    <div class="vetyCard">
                        <table class="ui very basic celled table">
                            <tbody>
                                <tr>
                                    <th width="2">文件名</th>
                                    <td width="8">
                                        {{ filename }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>特殊性质</th>
                                    <td>
                                        <div class="ui horizontal label" v-for="(s_m,k) in cutResult.special_modes" v-bind:key="k">{{ s_m }}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>操作</th>
                                    <td>
                                        <div class="ui slider checkbox">
                                            <input type="checkbox" v-model="useExperienceCutName">
                                            <label>使用经验给文段命名</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="vetyCard">
                        <table class="ui fluid very basic unstackable table" style="position: relative" :class="{ 'controler-disabled':player.disabled }">
                            <tbody v-if="useExperienceCutName">
                                <tr v-for="(m,d) in cutResult.materials">
                                    <td class="selectable" :class="{'abandoned':(player.nowTime >= m[1] / 1000),'blue':(player.nowTime >= m[0] / 1000) && (player.nowTime < m[1] / 1000), 'grey2332': d == chooseEle}">
                                        <a class="item" @click="playFrom(m[0] / 1000)" @click.right="showContextMenu(d, $event)">
                                {{ m[2] }}</a>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr v-for="(m,d) in cutResult.raw">
                                    <td class="selectable" :class="{'abandoned':(player.nowTime >= m[1] / 1000),'blue':(player.nowTime >= m[0] / 1000) && (player.nowTime < m[1] / 1000), 'grey233': d == chooseEle}">
                                        <a class="item" @click="playFrom(m[0] / 1000)" @click.right="showContextMenu(d, $event)">
                                {{ m[2] }}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </template>
                <div class="vetyCard" v-else>
                    <div class="vetyNoInfo">
                        <div class="ui icon header vetyHeader">
                            <i class="inbox icon"></i> 暂无解析
                        </div>
                    </div>
                </div>
            </div>
            <div class='ui tab' ref='About'>
                <h1 class="page-title">Vety!</h1>
                <div class="vetyCard">
                    <div class="ui relaxed divided list">
                        <div class="item">
                            <i class="large terminal middle aligned icon"></i>
                            <div class="content">
                                <div class="header">cli版本</div>
                                <div class="description">v{{ app.cliVersion }}</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="large window restore outline middle aligned icon"></i>
                            <div class="content">
                                <div class="header">Core版本</div>
                                <div class="description">v{{ app.coreVersion }}</div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="large palette middle aligned icon"></i>
                            <div class="content">
                                <div class="header">UI版本</div>
                                <div class="description">v{{ app.version }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    Made by yemaster
                </div>
                <div class="vetyCard">
                    <h3 class="vetyHeader">更多链接</h3>
                    <div class="ui homebtn white labeled icon button" @click="openLink('github:vt-dev-team/vety')">
                        <i class="icon github"></i> vety
                    </div>
                    <div class="ui homebtn white labeled icon button" @click="openLink('github:yemaster')">
                        <i class="icon github"></i> yemaster
                    </div>
                </div>
            </div>
            <div class='ui tab' ref='Settings'>
                <h1 class="page-title">设置</h1>
                <!--div class="ui form">
                    <h3 class="ui horizontal left aligned divider header vetyHeader">
                        <i class="cogs icon"></i>基础设置
                            </h3>
                            <div class="ui styled accordion">
                                <div class="title">
                                    <i class="dropdown icon"></i> 空白响度最值(单位:响度)
                                </div>
                                <div class="content">
                                    <input type="number" v-model="config.maxZero" @change="chatWithPyQt('update config maxZero ' + config.maxZero)">
                                </div>
                                <div class="title">
                                    <i class="dropdown icon"></i> 分割间距(单位:毫秒)
                                </div>
                                <div class="content">
                                    <input type="number" v-model="config.zeroNums" @change="chatWithPyQt('update config zeroNums ' + config.zeroNums)">
                                </div>
                            </div>
                            <h3 class="ui horizontal left aligned divider header vetyHeader">
                                <i class="paint roller icon"></i>外观
                            </h3>
                            <div class="ui styled accordion">
                                <div class="title">
                                    <i class="dropdown icon"></i> 皮肤
                                </div>
                                <div class="content">
                                    <input type="text" v-model="config.primaryColor" @change="chatWithPyQt('update config primaryColor ' + config.primaryColor)">
                                </div>
                            </div>
                            </div-->
            </div>
            <audio id="mainMusic" src="" type="audio/mp3" style="display: none" controls>
            </audio>
            <div class="player" style="height: 112px">
                <div style="display: flex;align-items: center; margin-bottom: 10px">
                    <span style="margin-right: 5px;">
                        {{ formatSeconds(player.nowTime) }}
                    </span>
                    <vety-progress :width='$(".c-progress").width()-30' ref="playerSlider" @perc="changePercent" style="width: 100%"></vety-progress>

                    <span style="margin-left: 5px;">
                        {{ formatSeconds(player.allTime) }}
                    </span>
                </div>
                <div style="text-align:center; width: 100%; " :class="{ 'controler-disabled':player.disabled }">
                    <button class="ui circular basic icon button " @click="playAbsolute(-5) ">
                            <i class="angle left icon "></i>
                        </button>
                    <button class="ui circular basic icon button " :class="getTheme('primary') " @click="play() " v-if="status==0 ">
                            <i class="play icon "></i>
                        </button>
                    <button class="ui circular basic icon button " :class="getTheme('primary') " @click="stop() " v-else-if="status==1 ">
                            <i class="pause icon "></i>
                        </button>
                    <button class="ui circular basic icon button " @click="playAbsolute(5) ">
                            <i class="angle right icon "></i>
                        </button>
                    <span class="playRate">×{{playRates[nowRate]}}</span>
                </div>
            </div>
        </div>
    </div>
    <script src="./vety.progress.js"></script>
    <script src="./vety.js"></script>
    <script src="../renderer.js"></script>
</body>

</html>